.gender__container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.gender__title {
  margin-left: 2rem;
  margin-top: 2rem;
}

.gender__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 36rem;
  margin: 2rem;
}

.gender__choose {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-border) !important;
    border-radius: var(--border-radius-md) !important;
    background: transparent;
    padding: 1rem;
    margin-top: 2rem;
  }

  @media (max-width: 303px) {
    width: 16rem;
  }

  @media (max-width: 276px) {
    width: 14rem;
  }

  @media (max-width: 241px) {
    width: 12rem;
  }
} 

.gender__continue-button {
  margin-top: auto;
  
}

.gender__error {
  text-align: center;
  margin-top: 5rem;

  p {
    margin-bottom: 3rem;
  }
}