@font-face {
  font-family: "Sk-Modernist";
  src: local("../fonts/Sk-Modernist-Regular.otf"),
    url("../fonts/Sk-Modernist-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Sk-Modernist-mono";
  src: local("../fonts/Sk-Modernist-Mono.otf"),
    url("../fonts/Sk-Modernist-Mono.otf") format("opentype");
}

@font-face {
  font-family: "Sk-Modernist-bold";
  src: local("../fonts/Sk-Modernist-Bold.otf"),
    url("../fonts/Sk-Modernist-Bold.otf") format("opentype");
}
