:root {
  --color-primary: #2934d0;
  --color-secondary: #323755;
  --color-white: #fff;
  --color-gray: #d3d3d3;
  --color-black: #000;
  --color-bg: #f3f3f3;
  --color-orange: #f27121;
  --color-red: #e94057;
  --color-purple: #8a2387;
  --color-cyan: #00b4cf;
  --color-pink: #ee4799;
  --color-border: #e8e6ea;

  --transition: 0.2s ease-in;

  --border-radius-sm: 10px;
  --border-radius-md: 15px;
  --border-radius-lg: 30px;
}
