.registration__content {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__text-info {
  padding: 2rem;
}

.registration__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.registration__text {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 0.5rem;
}

.registration__input {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;

  input {
    width: 80%;
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 1);
    font-size: 1.1rem;
    border-radius: var(--border-radius-md) !important;
    border: 1px solid var(--color-border) !important;

    @media (max-width: 424px) {
      width: 15rem;
    }

    @media (max-width: 330px) {
      width: 12rem;
    }

    @media (max-width: 285px) {
      width: 9.5rem;
    }

    @media (max-width: 237px) {
      width: 8.5rem;
    }
  }
}

.registration__button-continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  margin-left: 0.5rem;

  @media (max-width: 330px) {
    width: 10.5rem;
    margin-left: 0;
  }

  @media (max-width: 285px) {
    width: 7.5rem;
  }

  @media (max-width: 285px) {
    width: 6.5rem;
  }
}

.registration__button-sentcode {
  margin-left: 2rem;
  width: 19.5rem;
}

.registration__button-disabled {
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  width: 18rem;
  margin-left: 0.5rem;
  height: 3rem;
  font-size: 16px;
  letter-spacing: 0.09rem;
}

.registration__not-unique-email {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  a {
    color: var(--color-red) !important;
    text-decoration: underline;
  }
}
